/*
Custom Css
*/

/* Ocultar topbar hasta que cargue Strapi */
#templatemo_nav_top { visibility: hidden; }


/* Marco genérico reutilizable */
.hoja-img-frame {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  
    border: 1px solid #0b3315;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  